/* Importing custom fonts */
@font-face {
  font-family: "Concert-One";
  src: url(Fonts/ConcertOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Cooper-Hewitt-Book";
  src: url(Fonts/cooper-hewitt.book.otf);
}

@font-face {
  font-family: "Commissioner";
  src: url(Fonts/Commissioner-Medium.ttf);
}

@font-face {
  font-family: "Commissioner-Light";
  src: url(Fonts/Commissioner-Light.ttf);
}

* {
  text-align: center;
  padding: 0;
  margin: 0;
}

/* NAV BAR STYLING */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.77);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  font-size: 19px;
}

.navbar a {
  color: #f3d9f0;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.navbar a:hover,
.navbar a:focus {
  color: #5b52a8;
}

.navbar li {
  float: left;
}

/* landing page / hero section */
/* fonts */
h1 {
  font-family: "Concert-One", sans-serif;
  font-size: 3.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bio {
  font-family: "Cooper-Hewitt-Book", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 60px;
}

.bio-links {
  font-family: "Commissioner", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 8.5rem;
}

nav {
  font-family: "Cooper-Hewitt-Book", sans-serif;
}

.separator {
  font-family: "Commissioner", sans-serif;
  font-size: 1.8rem;
  margin: 3.5rem 0;
  padding: 10px;
}

.section-heading {
  font-family: "Concert-One", sans-serif;
  font-size: 42px;
  margin-bottom: 30px;
}

.text-content {
  font-family: "Commissioner", sans-serif;
  font-weight: 100;
}

h3,
h4 {
  font-family: "Cooper-Hewitt-Book";
}

.profile-picture {
  margin-top: 70px;
  margin-bottom: 27px;
}

.about-text {
  margin: 0 55px;
  font-size: 20px;
}

#about-text-2 {
  margin-top: 10px;
  padding-bottom: 18px;
}
