/* Importing custom fonts */
@font-face {
  font-family: "Outfit-Med";
  src: url(Fonts/Outfit-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: url(Fonts/Outfit-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Light";
  src: url(Fonts/Outfit-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(Fonts/Montserrat-Medium.ttf) format("truetype");
}

* {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple: #491290;
  --grey: #4e4f53;
  --background-colour-2: #f9f8ff;
}

body {
  overflow-x: hidden;
}

/* old background image */
/* body {
  background-image: url("Photoshop drafts/bg 4 site new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
} */

/* NAV BAR STYLING */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  font-size: 19px;
  padding-right: 3%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.navbar a:hover,
.navbar a:focus {
  color: #5b52a8;
}

.navbar li {
  float: left;
}

nav {
  font-family: "Outfit-Med", sans-serif;
}

/* landing page / hero section */
.hero {
  background-image: url("Photoshop drafts/bg 4 site new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.name {
  font-family: "Outfit-SemiBold", sans-serif;
  font-size: 3.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
  /* -webkit-text-stroke: 0.01px #122690; */
  /* text-shadow: 0px 0px 8px rgba(18, 38, 144, 1); */
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: #fff;
}

.bio {
  font-family: "Outfit-Light", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 60px;
  color: white;
  /* text-shadow: 0px 0px 20px rgba(187, 171, 237, 0.8); */
}

.bio-links {
  font-family: "Commissioner", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 8.5rem;
  color: white;
}

.profile-picture {
  margin-top: 70px;
  margin-bottom: 22px;
  width: 170px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.6);
}

/* social links */
.CV,
.material-symbols-outlined {
  color: white;
  font-family: "Montserrat";
}

.social-links {
  font-size: 2.25rem;
  color: white;
  height: 20px;
}

.social-links i {
  color: white;
}

.social-links a {
  text-decoration: none;
  font-size: 2rem;
  margin-left: 0.75rem;
}

.social-links a i {
  transition: transform 0.3s, color 0.3s;
}

.social-links a:hover i,
.CV:hover,
.material-symbols-outlined:hover {
  color: var(--purple);
  transform: scale(1.4);
}

/* end of landing page styles */

.section-heading {
  font-family: "Outfit-SemiBold", sans-serif;
  font-size: 42px;
  margin-bottom: 30px;
  color: var(--grey);
}

.text-content {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: var(--grey);
}

h3,
h4 {
  font-family: "Outfit-SemiBold", sans-serif;
}

.about-text {
  margin: 0 55px;
  font-size: 20px;
  color: var(--grey);
}

#about-text-2 {
  margin-top: 10px;
  padding-bottom: 18px;
}

/* PROJECT SECTION */
.project-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.project-img {
  width: 50%;
  padding: 15px;
}

.project-card {
  margin: 0 57px;
  background-color: var(--background-colour-2);
  border-radius: 6px;
}

.project-title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
  color: var(--grey);
}

.project-text-2 {
  margin-top: 11px;
}

.project-text {
  color: var(--grey);
}

/* EDUCATION SECTION */

.education-text {
  text-align: left;
  margin: 0 150px;
  color: var(--grey);
}

.school-name,
.experience-role-company {
  font-size: 28px;
  padding-bottom: 5px;
  color: var(--grey);
  font-family: "Outfit-SemiBold", sans-serif;
}

.qualification,
.experience-date {
  margin-bottom: 6px;
  font-size: 20px;
  color: var(--grey);
}

#a-levels {
  padding-bottom: 18px;
}

.school-link,
.school-link:visited,
.school-link:hover,
.school-link:active {
  text-decoration: none;
  color: var(--grey);
}

#gcses {
  padding-bottom: 10px;
}

.grades-text,
.experience--list-item {
  font-size: 18px;
  color: var(--grey);
}

/* EXPERIENCE SECTION */
.experience-bar {
  padding: 10px 0;
}

.experience-role-company,
.experience-text,
.experience-date {
  text-align: left;
  color: var(--grey);
}

.experience-title {
  padding-bottom: 15px;
}

.experience-container {
  margin: 0 150px;
}

.experience--list-item {
  padding-bottom: 10px;
  color: var(--grey);
}

.last-list-item {
  margin-bottom: 40px;
}

/* footer */
footer {
  font-family: "Outfit-SemiBold";
}
